!!!
%html
  %head
    %title WebDev New Parts
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/slidy.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/local.css'}
    %script{:src => 'resources/slidy.js', :charset => 'utf-8', :type => 'text/javascript'}

  %body
    .slide
      %h1 Web Development: The New Parts
      %h3 Brian Stack & Tom Dooner

