!!!
%html
  %head
    %title WebDev New Parts
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/slidy.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection, print', :href => 'resources/local.css'}
    %link{:href => "resources/print.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => 'resources/slidy.js', :charset => 'utf-8', :type => 'text/javascript'}

  %body
    .slide
      .bigt
        %span Web Development: The New Stuff

    .slide
      %h1 Front End Web
      %h1 HTML + CSS + JAVASCRIPT
      .note 
        %li test of note
        %li there is stuff here!

    .slide
      %h1 This is not art
      %h3 it just feels kinda artsy
      .note 
        %li test of note2
        %li there is stuff here!

    .slide
      %h1 HTML5
      %h1 HAML/SLIM/ERB
    .slide
      %h1 CSS3
      %h1 SASS/LESS
    .slide
      %h1 JAVASCRIPT
      %h1 COFFEESCRIPT

    .slide
      .bigt
        %span{:contenteditable => 'true'} Content Editable*
      .note
        *no really, try it!

    .slide
      Brian Stack &lt;bis12@case.edu&gt;
      %br
      Tom Dooner &lt;ted27@case.edu&gt;
