@import "compass";
@import "compass/utilities/lists/inline-list";

@mixin shadebox($shadebox-radius:8px) {
	border: 1px solid rgba(10,10,10, 0.5);
	background: rgba(10,10,10,0.4);
	box-shadow: inset 0 0 8px rgb(10,10,10);
	border-radius: $shadebox-radius;
}

strong {
	font-family: "CabinSemiBold", "Sans";
	color: #f0f0f0;
}

body {
	background-image: url(px_by_Gre3g.png);
}

div.toolbar {
	text-shadow: none;
}

div.slide {
	@include background(linear-gradient(top left, rgba(55,129,184,0.75), rgba(255,0,0,0.05)));
a {
        color:#ee5;
}
     
    &#pseudoclasses table {
        margin:auto;
    }
    &#pseudoclasses td {
        padding:5px;
    }
    &#pseudoclasses tr:nth-child(odd) {
        color:#FFF;
    }
    &#pseudoclasses tr:nth-child(even) {
        color:rgba(255,255,255,0.5);
    }

    div.roundy {
      border-radius: 20px;
      width:300px;
      height:100px;
      margin:auto;
      background-color:rgba(0,0,0,0.5);
    }
    ul.afewpoints {
      width:300px;
      text-align:left;
      margin:auto; 
    }

    ul.afewthings {
      li {
        list-style:none;
      }
    }
    div.centervertically {
      display:table-cell;
      vertical-align:middle;
      height:100px;
      width:300px;
      text-align:center;
    }
    div.shadow {
      box-shadow:0px 0px 50px rgba(255,255,255,0.6);
    }
    div.shadow_inset {
      box-shadow:0px 0px 50px rgba(255,255,255,0.6) inset;
    }
    div.gradient {
      @include background(linear-gradient(bottom, color-stops(black,rgba(255,255,255,0.5),black)));
    }
}
div.realbig {
    font-size:5em;
    margin-bottom:5%;
    margin-top: 10%;
}
span.topline {
	border-top: 1px solid #ddd;
	padding-top: 8px;
	padding-left: 40px;
	padding-right: 40px;
}

div.bigt {
	padding-top: 23%;
	font-size: 200%;
}

div.note {
	position: absolute;
	bottom: 25px;
	right: 5px; 
	font-size: 60%;
	width: 300px;/*change this to make it generic*/
	@include shadebox;
	li {
		list-style: none;
	}
}

div.toolbar {
	opacity: 0.3;
	&:hover {
		opacity: 0.9;
	}
}

pre {
	font-family: "monospace";
	text-shadow: none;
	@include shadebox;
	text-align: left;
	color: #fee;
}

.important {
	color: #de2;
}

.credits {
	padding-top: 13%;
	font-size: 1.3em;
	line-height: 2em;
	a {
		color: #ee1;
	}
}
