@import "compass";

@mixin shadebox {
	border: 1px solid rgba(10,10,10, 0.5);
	background: rgba(10,10,10,0.4);
	box-shadow: inset 0 0 8px rgb(10,10,10);
	border-radius: 5px;
}

strong {
	font-family: "CabinSemiBold", "Sans";
	color: #f0f0f0;
}

body {
	background-image: url(px_by_Gre3g.png);
}

div.toolbar {
	text-shadow: none;
}

div.slide {
	@include background(linear-gradient(top left, rgba(55,129,184,0.75), rgba(255,0,0,0.05)));
}

span.topline {
	border-top: 1px solid #ddd;
	padding-top: 8px;
	padding-left: 40px;
	padding-right: 40px;
}

div.bigt {
	padding-top: 23%;
	font-size: 200%;
}

div.note {
	position: absolute;
	bottom: 25px;
	right: 5px; 
	font-size: 60%;
	width: 300px;/*change this to make it generic*/
	@include shadebox;
	li {
		list-style: none;
	}
}

div.toolbar {
	opacity: 0.3;
	&:hover {
		opacity: 0.9;
	}
}

pre {
	font-family: "monospace";
	text-shadow: none;
	@include shadebox;
	text-align: left;
}
